.component {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto !important;
    /*border-left: solid 1px #ccc;*/
    /*border-right: solid 1px #ccc;*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, .4), inset 0 0 2px rgba(255, 255, 255, .75)*/
}

.container {
    display: table;
    border-right: solid 1px #ddd;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

.menuContainer {
    border-left: solid 3px #ddd;
    border-right: solid 1px #ddd;
    display: table-cell;
    min-width: 150px;
    vertical-align: top;
}

.contentContainer {
    width: 100%;
    display: table-cell;
    padding: 20px;
}