.component table {
    border-spacing: 0;
    border-collapse: collapse;

    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    table-layout: fixed;
}

.component table > thead > tr > th:nth-child(1) {
    width: 30px;
    text-align: center;
}

.component table > thead > tr > th:nth-child(5) {
    width: 15px;
    text-align: center;
}

.component tr > th:nth-child(2) {
    width: 30px;
    text-align: center;
}

.component tr > th:nth-child(3) {
    width: 17em;
}

.component th {
    text-align: left;
    padding: 8px;
    line-height: 1.42;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    border-top: 0;
}

.component .right {
    text-align: right;
}