.container {
    padding: 0 1%;
    width: 48%;
    display: inline-block;
}

.container .box {
    height: 125px;
    min-height: 125px;
    max-height: 125px;
    overflow: scroll;
}

.container .box .inner {
    width: 50%;
    display: inline-block;
}

.right {
    clear: both;
    text-align: right;
}

.stats {
    text-align: right;
}